<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Contact</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a href="/contacts/">Cancel</a>
    </nav>
    <h1>Create contacts</h1>
    <form action="" method="POST">
        <label for="firstName"></label>
        <input type="text" name="firstName" id="firstName" placeholder="First Name here"/>

        <label for="lastName"></label>
        <input type="text" name="lastName" id="lastName" placeholder="Last Name here"/>

        <label for="cellPhone"></label>
        <input type="text" name="cellPhone" id="cellPhone" placeholder="Cell Phone number here"/>

        <input type="submit" value="Create Contact"/>
    </form>
</body>
</html>